html, body{   
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 16px;
    color: #333;
    text-transform: uppercase;
    background: rgb(242, 242, 242);
    box-shadow: 
}

.conteiner{
    width: 1200px;
    margin: 0 auto;
    background-color: #f2f2f2f2;
    background-color: #fff;
}


/*главная страница*/

.punct-menu {
    display: block;
    margin: 70px;
    text-decoration: none;
    color: #333;
    margin-top: 10px;
}

.punct-menu: hover{
    color: #a8c9df;
}

.punct-menu: focus{
    color: #cecece;
}

.punct-menu: active{
    color: #f1f1f1;
}

.navigation-menu {
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    color: #333;
    list-style: none;
    display: inline-flex;
    padding 60px;
    margin: -100px;
    position: 50%;
    margin-left: -155px;
}


.welcome{
    display: block;
    padding: 50px;
    position: 100%;
    margin: auto;
}

.baner {
    background-image: url("../img/background%20photo.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    background-size: cover;
    height: 510px;
}

.review{
    display: inline-block;
    width: 610px;
    height: 50px;
    position: 50%;
    margin: 25px;
} 

.corps{
    background-color: #fff;
    background-size: cover;
    width: 100%;
    height: 220px;
}

.advantages {
    display:inline-flex;
    justify-content: space-between;
    position: 100%;
    margin-top: 25px;
}


.wrap{
    position:33%;
    background-color: #81b3d2;
    width: 400px;
    color: #fff;
    height: 256px;
    margin: 0 auto;
}

.wrap-img{
    position: 67%;
    padding: 0px;
    height: 255px;
}

.wrap1{
    position: 33%;
}

.wrap2{
    position: 33%;
}


.visually-hidden{
    visibility: hidden;
}

label {
    cursor: default;
}

.search-form-visible {
    display: block;
}

div {
    display: block;
}


.adults{
margin-right: 3px;
}

.search-form{
    display: block;
    background-color: #fff;
    width: 580px;
    height: 400px;
    margin: 0 auto;
    box-shadow: 0 30px 50px rgba();
    color: #333;
    position: absolute;
    box-sizing: border-box;
    line-height: 26px;
    text-align: center;
    font-weight: bold;
    padding: 50px 50px;
}

.age{
    display: inline;
}

.map{
    background-image: url(../img/map.jpg);
    height: 475px;
}
.map-block{
    height: 100%;
    width: 100%;
}

.main-footer{
    display: flex;
    background: #fff;
    text-align: center;
    opacity: 0.9;
    margin-top: -120px;
    text-decoration: none;
}

.visit{
    display: inline-block;
    width: 400px;
    vertical-align: top;
    box-sizing: border-box;
    display: block;
    position: 33%;
}

.social{
    display: flex;
    display: block;
    padding: 36px 0 36px;
    line-height: 0;
    position: 33%;
}
       
.social-button1{
    display: block;
    width: 46px;
    height: 48px;
    margin-right: 6px;
    vertical-align: top;
    font-size: 0;
    background-color: #81b3d2;
    margin-left: 0px;
    text-decoration: none;
}

.social-button2{
    display: block;
    width: 46px;
    height: 48px;
    margin-right: 6px;
    vertical-align: top;
    font-size: 0;
    background-color: #81b3d2;
    margin-left: 100px;
}
.social-button3{
    display: block;
    width: 46px;
    height: 48px;
    margin-right: 6px;
    vertical-align: top;
    font-size: 0;
    background-color: #81b3d2;
}



.WEBSITE-by {
    position:33%;
    display: block;
    padding: 39px 0 41px;
    line-height: 26px;
    background: #fff;
    text-align: right;
}



/*страница отеля*/

.choice {
    margin-top: 0px;
    display:flex;
    width: 100%;
    color: #fff;
    background: #4b769e url("/img/IMG_9190%20copy.jpg") no-repeat 50% 20%;
}

.infrastructure{
    display: block;
    width: 15%;
    text-align: left;
    text-decoration: none;
    padding-left: 50px;
    padding-right: 10px;
    padding-top: 27px;
    padding-bottom: 30px;
}

.accommodation{
    display: block;
    width: 25%;
    text-align: left;
    text-decoration: none;
    padding-left: 25px;
    padding-right: 10px;
    padding-top: 27px;
    padding-bottom: 30px;
    
}

div{
    display: block;
}


.range {
    display: inline-block;
    width: 45%;
    padding-top: 26px;
    vertical-align: top;
    box-sizing: border-box;
}


.range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}


.price {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price .min-price,
.price .max-price {
  width: 90px;
  padding-left: 65px;
}

.price input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .controls {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .circle {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.circle-min,
.circle-max {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.circle-min,
.circle-max:hover {
  background: #1c4f80;
}

.circle-min {
  left: 0;
}

.circle-max {
  left: 80%;
}

.show {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.filter{
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 20px 70px;
  border: 1px #e5e5e5 solid;    
}

.filter-found{
    display: flex;
    justify-content: space-between;
    width: 50%;
    text-align: left;
    text-decoration: none; 
}

.sorting{
    display: block;
    width: 33%
}


.result1{
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 10px 70px;
  border-bottom: 1px #e5e5e5 solid; 
}

.amara{
    display: flex;
    justify-content: space-between;
    width: 40%;
    text-align: left;
    text-decoration: none; 
}

.amara-img{
    margin: 35px;
}

.star{
    background-image: url(../img/star.png) repeat-x;
}

.rating{
    display: flex;
    padding: 5px;
    background-color: #f2f2f2;
    align-items: flex-end;
}

.desert{
     display: flex;
    justify-content: space-between;
    width: 40%;
    text-align: left;
    text-decoration: none; 
}

.desert-img{
    margin: 35px;
}

.Villas{
    display: flex;
    justify-content: space-between;
    width: 40%;
    text-align: left;
    text-decoration: none;
}

.Villas-img{
    margin: 35px;
}
