body{
    margin: 0;
    padding: 0;
    text-align: center;
    width: 1200px;
    

    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #333333;
    text-transform: uppercase;
    
    background-color: #ffffff;
}

a {
    text-decoration: none;
     color: #333333;
}

.navigation-menu {
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    color: #333333;
    
    list-style: none;
    display: inline-flex;
    
    padding: 0;
    margin: -50px;
}

.navigation-menu a:hover {
    color: #a8c9df;
}

.navigation-menu a:focus {
    color: #cecece;
}

.navigation-menu a:active {
    color: #aba19b;
}

.punct{ 
    padding: 6px;
}

.welcome{
    padding: 5%;
    position: 50% 50%;
    margin: auto;
}

.baner {
    background-color: #d6e4ed;
    background-image: url("/img/background%20photo.jpg");
    background-repeat: no-repeat;
    width: 100%;
    background-position: 50% 50%;
    height: 550px;
}
.review{
    display:block;
    width: 30px;
    position: 50%;
    
} 

.wrap{
    position: 33%;
}

 .wrap1{
    background-color: #81b3d2;
    position: 33%;
    color: white;
    height: 260px;
    margin: 0px;
    padding: px;
     
}

.wrap-img1 {
   position: 67%;
   padding: 0px;
   height: 260px;
}

.advantages {
    display: inline-flex;
  
}

.wrap2{
    background-color: #81b3d2;
    position: 33%;
    color: white;
    height: 260px;
}

.wrap-img2{
   position: 67%;
   height: 260px;
}

.bridge{
     display: inline-flex;
    
}

.area{
     display: inline-flex;
}

.main-footer{
    display: inline-flex;
}

.academy{
    
}
