html, body{   
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 16px;
    color: #333;
    text-transform: uppercase;
    background: rgb(242, 242, 242);
    
}

.conteiner{
    width: 1200px;
    margin: 0 auto;
    background-color: #f2f2f2f2;
    background-color: #fff;
    box-shadow: 0 0 50px #dedede;
}


/*главная страница*/

.navigation{
    display: block;
    background-color: #fff;
    width: 1200px;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
}

.navigation-menu {
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    color: #333;
    list-style: none;
    display: inline-flex;
    padding 60px;
    margin: -100px;
    position: 50%;
    margin-left: -155px;
}

.punct-menu {
    display: block;
    margin: 70px;
    text-decoration: none;
    color: #333;
    margin-top: 50px;
}

.navigation-menu a:hover {
    color: #a8c9df;
}

.navigation-menu a:active{
    color: #f1f1f1;
}

.navigation-menu a:focus{
    color: #cecece;
}

.welcome{
    display: block;
    padding: 50px;
    position: 100%;
    margin: auto;
}

.baner {
    background-image: url("../img/background%20photo.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    background-size: cover;
    height: 510px;
}

.baner-botton{
    position: absolute;
    left: 0;
    width: 100%;
    height: 60px;
    background: url(../img/white.png) no-repeat 50% 50%;
}

.review{
    display: inline-block;
    width: 610px;
    height: 50px;
    position: 50%;
    margin: 25px;
} 

.corps{
    background-color: #fff;
    background-size: cover;
    width: 100%;
    height: 220px;
}

.advantages {
    display:inline-flex;
    justify-content: space-between;
    position: 100%;
    margin-top: 0 auto;
}

.wrap{
    position:33%;
    background-color: #81b3d2;
    width: 400px;
    color: #fff;
    height: 256px;
    margin: 0 auto;
    margin-top: 25px;
}

.wrap-img{
    position: 67%;
    padding: 0px;
    height: 255px;
    margin-top: 25px;
}

.wrap1{
    position: 33%;
    margin-top: 25px;
}

.wrap2{
    position: 33%;
    background: rgb(242, 242, 242);
    margin: 0;
    margin-bottom: 25px;
    padding-top: 25px;
}

.visually-hidden{
    visibility: hidden;
}

label {
    cursor: default;
}

.search-form-visible {
    display: block;
}

div {
    display: block;
}

.search-botton{
    display: block;
    width: 568px;
    margin: 0 auto;
    color: #ffffff;
    padding: 30px 0 30px;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-decoration: none;
    background: #766357;
}

.adults{
margin-right: 3px;
}

form{
    display: block;
}

.search-form{
    display: block;
    left: auto;
    margin: 0 316px;
    position: absolute;
    width: 568px;
    padding: 57px 55px;
    box-sizing: border-box;
    line-height: 26px;
    text-align: left;
    font-weight: bold;
    background: #ffffff;
    box-shadow: 0 0 15px #cccccc;
}

.search-form .form-line {
    position: relative;
    width: 458px;
    margin-bottom: 29px;
}

.clearfix:after {
    display: table;
    clear: both;
}

.search-form .field {
    float: right;
    line-height: 26px;
    padding: 4px 15px 8px;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-transform: uppercase;
    background: #f2f2f2;
}

.search-form label {
    float: left;
    padding: 5px 0 0px;
}

.search-form .field:hover {
    background: #ebebeb;
}

.search-form .field:focus {
    background: #ffffff;
    outline: 2px solid #e5e5e5;
}


.search-form .date {
    width: 346px;
    padding-right: 37px;
}

.search-form .half-width {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    box-sizing: border-box;
}

.half-width .unit {
    width: 114px;
    padding-left: 55px;
    padding-right: 50px;
}

.half-width:first-child .unit {
    margin-right: 3px;
}


.half-width:last-child label {
    margin-left: 50px;
}

.unit-container .btn {
    position: absolute;
    top: 0;
    padding: 6px 9px;
    line-height: 26px;
    color: #a9a9a9;
    background: #f2f2f2;
    border: none;
    outline: none;
}

.unit-container .minus-btn {
    left: 112px;
}

.unit-container .plus-btn {
    right: 0;
}

.unit-container .btn:hover {
    color: #000000;
}

.unit-container .btn:active {
    color: #81b3d2;
}


.day{
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2; 
}

.search-form .find-btn {
    display: block;
    width: 458px;
    margin: 0 auto;
    margin-top: 54px;
    padding: 14px 10px 15px;
    box-sizing: border-box;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    color: #ffffff;
    background: #81b3d2;
    border: none;
    outline: none;
}

.search-form .find-btn:hover {
    background: #669ec0;
}

.search-form .find-btn:active {
    background: #5496bd;
}

.search-form .find-btn:active span {
    opacity: 0.3;
}

.map{
    background-image: url(../img/map.jpg);
    height: 480px;
}
.map-block{
    height: 100%;
    width: 100%;
}

/*страница отеля*/

.choice {
    margin-top: 0px;
    display:flex;
    width: 100%;
    color: #fff;
    background: #4b769e url("/img/IMG_9190%20copy.jpg") no-repeat 50% 20%;
}

.infrastructure{
    display: block;
    width: 15%;
    text-align: left;
    text-decoration: none;
    padding-left: 50px;
    padding-right: 10px;
    padding-top: 27px;
    padding-bottom: 30px;
}

.accommodation{
    display: block;
    width: 25%;
    text-align: left;
    text-decoration: none;
    padding-left: 25px;
    padding-right: 10px;
    padding-top: 27px;
    padding-bottom: 30px;
}

.check-on{
    margin: auto;
    background-image: url(../img/checkbox-on.png);
    background-repeat: no-repeat;
    text-decoration: none;
    padding: 20px;
}

.check-off{
    background-image: url(../img/checkbox-off.png);
    background-repeat: no-repeat;
    padding: 20px;
}

.range {
    display: inline-block;
    width: 45%;
    padding-top: 26px;
    vertical-align: top;
    box-sizing: border-box;
}

.range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #fff;
  border-radius: 2px;
  width: 100%;
}

.price::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #fff;
  transform: translate(-50%, -50%);
}

.price label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price .min-price,
.price .max-price {
  width: 90px;
  padding-left: 65px;
}

.price input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .controls {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .circle {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.circle-min,
.circle-max {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #fff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.circle-min,
.circle-max:hover {
  background: #1c4f80;
}

.circle-min {
  left: 0;
}

.circle-max {
  left: 80%;
}

.show {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  cursor: pointer;
}

.filter{
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 20px 70px;
  border: 1px #e5e5e5 solid;    
}

.filter-found{
    display: flex;
    justify-content: space-between;
    width: 50%;
    text-align: left;
    text-decoration: none; 
}

.sorting{
    display: block;
    width: 33%
}

.icon{
    display: flex;
    align-items: center;
}

.result1{
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 10px 70px;
  border-bottom: 1px #e5e5e5 solid; 
}

.amara{
    display: flex;
    justify-content: space-between;
    width: 50%;
    text-align: left;
    text-decoration: none; 
    padding: -10px;
    
}

.amara-img{
    margin: 30px;
}

.star{
    padding-top: 20px;
}

.star-rating{
    display: flex;
    padding-top: 55px;
}
.rating{
    display: flex;
    padding: 5px;
    background-color: #f2f2f2;
    align-items: flex-end;
}

.desert{
    display: flex;
    justify-content: space-between;
    width: 50%;
    text-align: left;
    text-decoration: none; 
}

.desert-img{
    margin: 35px;
}

.Villas{
    display: flex;
    justify-content: space-between;
    width: 50%;
    text-align: left;
    text-decoration: none;
}

.Villas-img{
    margin: 35px;
}

.main-footer{
    margin: 0 auto;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    background: #fff;
    text-align: center;
    opacity: 0.9;
    width: 1200px;
    opacity: 0.9;
}

.info-hotels{
    color: #fff;
    background-color: #81b3d2;
    width: 111px;
    height: 25px;
    display: inline-block;
    padding: 3px 16px;
    margin-right: 6px;
    vertical-align: top;
    font-weight: 500;
    text-decoration: none;
}   

.book{
    display: inline-block;
    padding: 3px 10px;
    margin-right: 6px;
    vertical-align: top;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
}

.book-it{
    color: #fff;
    background-color: #766357;
    width: 142px;
    height: 25px;
}
.info{
    text-align: center;
}

.visit{
    display: block;
    padding: 45px 0 50px;
    font-size: 21px;
    margin: 0 auto;
    line-height: 26px;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}

.social-network{
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-top: 15px;
    padding: 0px;
    font-size: 21px;
    text-decoration: none;
    color: #000;
    width: 200px;
}

.WEBSITE-by{
    display: inline-flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    padding: 35px 0 30px;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    width: 240px;
    justify-content: center;
    align-items: center;
}

.social-btns .social {
    display: inline-block;
    width: 46px;
    height: 48px;
    margin-right: 6px;
    vertical-align: top;
    font-size: 0;
    background-color: #81b3d2;
}

.social-btns .social:hover {
    background-color: #669ec0;
}

.social-btns .social:active {
    background-color: #5496bd;
}

footer .social-btns {
    padding: 36px 0 36px;
    line-height: 0;
}